//
// Base
// --------------------------------------------------



// Reset the box-sizing
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/ (and no, performance is not an issue)
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $black;
    background-color: $white;
}