//
// Variables
// --------------------------------------------------



// Base variables
// -------------------------
$padding-base =                        18px;



// Colours
// -------------------------
$white =                               #fff;
$black =                               #000;



// Typography
// -------------------------
$font-family =                         Helvetica, Arial, sans-serif;
$font-family-base =                    $font-family;

$font-size-base =                      16px;
$font-size-small =                     ceil($font-size-base * 0.75);  // ~12px
$font-size-medium =                    $font-size-base;               // ~16px
$font-size-large =                     ceil($font-size-base * 1.25);  // ~20px

$line-height-base =                    1.5; // (didn't use a unit on purpose)